@media only screen and (max-width: 767px) {
    
}

body {
    background-color: #F6F6F6;
}

#photo {
    margin-left: 20px;
  }
  
  .container {
   display: grid;
   align-items: center; 
   grid-template-columns: 20fr 31fr;
   column-gap: px;
  }
  
  img {
    max-width: 100%;
    max-height:100%;
  }
  
  .text {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .pic {
    margin-left: 0px;
    margin-right: 0px;
  }